<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <%= form_for @user do |f| %>
      <%= render 'fields', f: f %>
      <div class="center">
        <%= f.submit 'Create my account', class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>
  </div>
</div>